:root {
    --header-height: 100px;
    --border-color: black;
    --border-size: 2px;
    --border-type: solid;
    --primary-color: rgba(210, 180, 140, 0.95) ;
    --secondary-color: rgb(265, 228, 196); 
    --footer-height: 50px;
}


* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: var(--primary-color);
}

header, footer {
    display: flex;
    justify-content:space-around ;
    flex-wrap: wrap;
    align-items: center;
    padding: 1%;
    background-color: var(--secondary-color);
    height: var(--header-height);
    width: 100%;
}

footer {
    bottom: 0%;
}

.links, #copyright {
    text-align: center;
    background-color: var(--secondary-color);
    width: 100%;
}

.options {
    display: flex;
    justify-content: space-around;
    background-color: var(--bg-color);
}

.box {
    border: var(--border-size) var(--border-type) var(--border-color);
    padding: 1%;
    width: 25%;
    margin: 1%;
    background-color: var(--secondary-color);
    text-align: center;
}


a, #copyright {
    background-color: var(--secondary-color);
}

#copyright {
    font-size: 1rem;
}

.logo {
    height : var(--header-height);
}

.about_content {
    display: inline-flex; 
    justify-content: center; 
    align-items: center;
    /* background-image: url("./logo_notext.jpg"); */
    /* opacity: 0.3; */
    text-align: center;
    padding: 10%;
    
}

.about_img {
    display: inline-flex; 
    justify-content: center; 
    align-items: center;
    /* background-image: url("./logo_notext.jpg"); */
    opacity: 0.2;
    text-align: center;
    /* padding: 10%; */

}

video {
    width: 100%;
}