:root {
    --border-color: black;
    --border-size: 1.5px;
    --border-type: solid;
    --text-color: rgb(0, 0, 0);
    --primary-color: rgba(230, 176, 105, 0.621) ;
    --secondary-color: rgb(255, 228, 196); 
    --tertiary-color: rgba(211, 149, 67, 0.667)  ;
    --primary-font: 'Century Gothic';
    --backup-font1: Arial;
    --backup-font2: Sans-serif;
    --default-font-size: 17px;
}

* {
    margin: 0%;
    padding: 0%; 
}

body, .sub , .button {
    background-color: var(--primary-color);
    font-size: var(--default-font-size);
    font-family: var(--primary-font), var(--backup-font1), var(--backup-font2);
    color: var(--text-color);
}

.logo {
    width: 150px;
    border-radius: 50%;
}

img {
    width: 90%;
    margin: 0%;
}


header, footer {
    padding: 5px;
    background-color: var(--secondary-color);
}

.nav {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
}

.links, #copyright {
    text-align: center;
    background-color: var(--secondary-color);
    margin: 1%;
}

.options, .bannerbox, .tier2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.tier2 > * {
    flex: 1;
}

.aside {
    margin-left: 1%;
    margin-bottom: 1%; 
}

.group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.box {
    border: var(--border-size) var(--border-type) var(--border-color);
    padding: 2%;
    margin: 2%;
    background-color: var(--secondary-color);
    text-align: center;
    flex: 1 1;
}

#name, #email, #message {
    width: 100%;
}

a, #copyright, h2, p {
    margin: 3%;
}

.amazon {
    background-image: url("./amazon_storefront.png"); 
    background-size: cover; 
} 

.brand {
    margin-bottom: 0%;
    background-image: url("./brands.png");
    background-color: white; 
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
} 

.form {
    padding: 2%;
}


video {
    width: 60%;
}

.bannerbox {
    margin: 2%;
    text-align: center;
    flex: 1 1;
}

.bannerimage {
    width: 100%;
}

.button { 
    display: inline-block; 
    padding: 7px 10px; 
    background-color: var(--primary-color); 
    border: 1px var(--border-type) var(--border-color);
    text-decoration: none;
    border-radius: 5px; 
    margin: 1%;
} 

.button:hover { 
    background-color: var(--tertiary-color); 
    font-weight: 530 ;
    transform: scale(1.1);
}

.about, .contact {
    margin: 7%;
    padding: 3%;
}

.brandtext {
    font-size: 100%;
}
.amazonbutton {
    transform: scale(0.8);
}