:root {
    --header-height: 100px;
    --border-color: black;
    --border-size: 2px;
    --border-type: solid;
    --primary-color: rgb(210, 180, 140) ;
    --secondary-color: rgb(265, 228, 196); 
    --footer-height: 50px;
}


* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: var(--primary-color);
}

header, footer {
    display: flex;
    justify-content:space-around ;
    flex-wrap: wrap;
    align-items: center;
    padding: 1%;
    background-color: var(--secondary-color);
    height: var(--header-height);
    width: 100%;
}

.links, #copyright {
    text-align: center;
    background-color: var(--secondary-color);
    width: 100%;
}

.options {
    display: flex;
    justify-content: space-around;
    background-color: var(--bg-color);
}

.box {
    border: var(--border-size) var(--border-type) var(--border-color);
    padding: 1%;
    
    margin: 1%;
    background-color: var(--secondary-color);
}


a, #copyright {
    background-color: var(--secondary-color);
}

#copyright {
    font-size: 1rem;
}

img {
    height : var(--header-height);
}